:root {
  --primario: #f46669;
  --secundario: #c7c57d;
  --gris: #f5f5f5;
}

body {
  font-family: sans-serif;
  color: #303030;
}
p {
  font-weight: 300;
  line-height: 2rem;
  font-size: 1rem;
}
/* Header */
.header .nav-link {
  color: black;
}
.header .nav-link:hover {
  color: var(--primario);
}
.header .nav-link.active {
  color: var(--primario);
  border-bottom: 2px solid var(--primario);
}

/* Oustanding Image */
.outstandingImage {
  height: 24rem;
  background-size: cover;
}
.us-bg {
  background-image: url(../img/principal1.jpg);
}

/* Footer */
.footer {
  border-bottom: 10px solid var(--primario);
}
.footer .nav-link {
  color: black;
}
.footer .nav-link:hover {
  color: var(--primario);
}
.footer .nav-link.active {
  color: var(--primario);
  border-bottom: 2px solid var(--primario);
}
.copyright {
  font-weight: 700;
}
